
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: lightgray;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  .btn_group {
    svg {
      box-sizing: content-box;
      background-color: beige;
      padding: 2px 10px;
      font-size: 15px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
    }
    svg + svg {
      margin-left: 10px;
    }
  }
  .search {
    input {
      background-color: beige;
      width: 200px;
      border: 0;
      height: 25px;
      padding-left: 2rem;
     
    }
  }
}
