* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-wrap: wrap;
 
  .header {
    width: 100%;
    background-color: lightgray;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn_group {
      svg {
        box-sizing: content-box;
        background-color: beige;
        padding: 2px 10px;
        font-size: 25px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
      }
      a + svg {
        margin-left: 10px;
      }
      svg + svg {
        margin-left: 10px;
      }
    }
    .search {
      background-color: beige;
      border-radius: 5px;
      display: flex;
      align-items: center;
      padding-left: 90px;
      // input {
      //   width: 150px;

      // }
    }
  }
  .sidebar {
    width: 30%;
   
    // height: 100vh;
    overflow-y: scroll;
  }
  .new_note{
    width: 70%;
    padding: 15px;
    .time{
      text-align: center;
      color: lightgrey;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }
}


:where(.css-dev-only-do-not-override-yp8pcc).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  width: 150px;
  border: 0;
  background-color: inherit;
  padding-left: 5px;
  box-shadow: none !important;
}



